body {
    width: 100%;
    height: 100%;
}

#container{
    margin: auto;
    max-width: 80em;
    min-width: 18em;
    width: 100%;
    background: black;
    /* display: flex; */

}
.control{
    display:none;
}

.area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height:2em;
    margin: 0.2em
}

.area:hover .in {
    background: white
}


#ctrl1:checked ~#controller #in-ctrl1,
#ctrl2:checked ~#controller #in-ctrl2,
#ctrl3:checked ~#controller #in-ctrl3,
#ctrl4:checked ~#controller #in-ctrl4{
    border: .125em solid rgb(60, 60, 240);
    background: inherit;
}

.in { 
    width: 0.8em;
    height: 0.8em;
    box-sizing: border-box;
    appearance: none;
    background: rgb(60, 60, 240);
    border-radius: 100%;
    transition: all .5s;

}

#controller{
    display:flex;
    justify-content: space-around;
    max-width: 10em;
}
